:root {
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

#header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: black;
  color: white;
  padding: 20px;
  margin-bottom: 1rem;
}

#header h1 {
  padding: 0 20px;
}

#navbar ul {
  display: flex;
  width: 70vw;
}

#navbar ul li {
  padding: 0 20px;
}

#navbar ul li a {
  color: white;
}

#navbar ul li a:hover {
  color: aqua;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: black;
  color: lightsteelblue;
  margin-top: 1rem;
}

#main {
  margin: 0 2rem
}

#main h1 {
  font-size: 3rem;
}

#main :last-child {
  margin: auto;
  margin-top: 2rem;
}

/* READ */

table {
  width: 50%;
}

table,
th,
td {
  border: 1px solid;
}

th {
  height: 2rem;
  vertical-align: middle;
}

td {
  padding: 0.4rem;
}

td:nth-child(1) {
  text-align: center;
}

td:nth-child(4)::before {
  content: "R$ ";
}

/* CREATE */

#createForm {
  /* display: flex; */
  flex-direction: column;
  width: max-content;
  padding: 1rem;
  border: 4px solid #ccc;
  border-radius: 1rem;
}

#createForm div+div {
  margin-top: 1rem;
}

#createForm div label {
  display: inline-block;
  width: 6rem;
  text-align: right;
}

#createForm div input {
  font: 1rem sans-serif;
  width: 19rem;

  border: 1px solid #999;
}

#createForm div input:hover {
  border-color: #000;
}

.submitButton {
  padding-left: 6rem;
}

button {
  margin-left: 0.5rem;
}
