<div class="container mt-5">
  <div class="d-flex justify-content-between mb-5">
    <h1>Listagem de Produtos</h1>

    <button mat-raised-button color="primary" routerLink="/produto/novo">
      Cadastrar produto
    </button>
  </div>

  <mat-form-field>
    <mat-label> Filter </mat-label>
    <input matInput (keyup)="applyFilter($event)" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"> {{element.price.toLocaleString(undefined, {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
        })}} </td>
    </ng-container>

    <ng-container matColumnDef="funcoes">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [routerLink]="'/produto/editar/' + element.id">
          <mat-icon fontIcon="edit"></mat-icon>
        </button>
        <button mat-icon-button (click)="deletarCliente(element.id)">
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data</td>
    </tr>
  </table>

  <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10 , 25, 100]" [length]="dataSourceLength"
    (page)="handlePageEvent($event)">
  </mat-paginator>
</div>
